<!DOCTYPE html>
<html>
    <head>
        <title>looK!</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/new.css" >
        
    </head>
    <body>
        
  
