<div class="ui inverted menu fixed" id="nav">
<div class=" ui container nav-container">
        <div class="header item"><i class="code icon"></i>
              BLOGAPP
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
</div>
</div>